src/Sulu/Bundle/SuluMediaBundle/Media/FormatLoader/schema/formats/formats-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://schemas.sulu.io/media/formats" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://schemas.sulu.io/media/formats">

    <xs:complexType name="formatsType">
        <xs:sequence>
            <xs:element type="formatType" name="format" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="formatType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="commandsType" name="commands" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="commandsType">
        <xs:sequence>
            <xs:element type="commandType" name="command" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="commandType">
        <xs:sequence>
            <xs:element type="xs:string" name="action"/>
            <xs:element type="parametersType" name="parameters"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="parametersType">
        <xs:attribute name="x" type="xs:integer"/>
        <xs:attribute name="y" type="xs:integer"/>
        <xs:attribute name="geometry" type="xs:string"/>
        <xs:attribute name="retina" type="xs:string"/>
        <xs:attribute name="color" type="xs:string"/>
        <xs:attribute name="watermark" type="xs:string"/>
    </xs:complexType>

    <xs:element name="formats" type="formatsType"/>
</xs:schema>
