src/Sulu/Component/Rest/ListBuilder/Metadata/Resources/schema/metadata/list-builder-list-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://schemas.sulu.io/class/list"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:attribute type="xs:string" name="translation"/>
    <xs:attribute type="xs:string" name="type" default="string"/>
    <xs:attribute type="xs:string" name="width"/>
    <xs:attribute type="xs:string" name="min-width"/>
    <xs:attribute type="xs:boolean" name="sortable" default="true"/>
    <xs:attribute type="xs:boolean" name="editable" default="false"/>
    <xs:attribute type="xs:string" name="css-class"/>
</xs:schema>
