src/Sulu/Bundle/ResourceBundle/Resource/Metadata/Resources/schema/metadata/list-builder-filter-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://schemas.sulu.io/class/filter"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="parametersType">
        <xs:sequence>
            <xs:element type="parameterType" name="parameter"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="parameterType">
        <xs:attribute name="key" type="xs:string"/>
    </xs:complexType>

    <xs:attribute name="input-type" type="xs:string"/>
    <xs:element name="parameters" type="parametersType"/>
</xs:schema>
